li a{
    font-size: 20px;
}

.navbar{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.nex{
    height: 47px;
    width: 73px;
    margin-left: 80px;
    text-align: center;
    transition: 0.3s;
}
.nex:hover{
    height: 47px;
    width: 73px;
    background: transparent;
    border-radius: 9px;
    box-shadow: rgba(255, 251, 251, 0.473) 0px 54px 55px, rgba(255, 251, 251, 0.473) 0px -12px 30px, rgba(255, 251, 251, 0.473) 0px 4px 6px, rgba(255, 251, 251, 0.473) 0px 12px 13px, rgba(255, 251, 251, 0.473) 0px -3px 5px;
}
.nex1{
    height: 47px;
    width: 90px;
    margin-left: 80px;
    text-align: center;
    transition: 0.3s;
}
.nex1:hover{
    height: 47px;
    width: 90px;
    background: transparent;
    border-radius: 9px;
    box-shadow: rgba(255, 251, 251, 0.473) 0px 54px 55px, rgba(255, 251, 251, 0.473) 0px -12px 30px, rgba(255, 251, 251, 0.473) 0px 4px 6px, rgba(255, 251, 251, 0.473) 0px 12px 13px, rgba(255, 251, 251, 0.473) 0px -3px 5px;
}